[Desktop Entry]
Version=1.0
Name=fipbrandnews
GenericName=fipbrandnews
Comment[fr]=Fip rock
Exec=fipbrandnews
TryExec=/usr/bin/vlc
Icon=/usr/share/icons/twistos/fipbrandnew.png
Terminal=false
Type=Application
Categories=AudioVideo
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,smb
Keywords=Player,radio,musique

