[Desktop Entry]
Version=1.0
Name=trance
GenericName=trance
Comment[fr]=trance
Exec=trance
Icon=/usr/share/icons/twistos/ohm.jpg
Terminal=false
Type=Application
Categories=AudioVideo
Keywords=Player
