[Desktop Entry]
Version=1.0
Name=fipmonde
GenericName=fipmonde
Comment[fr]=Fip rock
Exec=fipmonde
TryExec=/usr/bin/vlc
Icon=/usr/share/icons/twistos/fipmonde.png
Terminal=false
Type=Application
Categories=AudioVideo
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,smb
Keywords=Player
